fastapi==0.115.4
fastapi-cli==0.0.24
fastapi-mail==1.4.1
fastjsonschema==2.21.1
joblib==1.5.3
numpy==2.3.2
pydantic==2.10.3
pydantic-settings==2.6.1
pydantic_core==2.27.1
python-multipart==0.0.12
python-dotenv==1.0.1
pandas==2.3.2
scikit-learn==1.8.0
uvicorn==0.32.1

